listitem.sent {
    background-color: #b0ffb0;
    font-size: 14pt;
}

listitem.unanswered {
    background-color: #ffb0b0;
    font-size: 14pt;
}

listitem.unimportant {
    background-color: #ffffb0;
    font-size: 14pt;
}

#lb-add-person {
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
}

/* I cheated by copying flaggedmail.png and dot.png from thunderbird's
 * theme to my chrome/content directory... can put custom images here
 * later. */
treechildren::-moz-tree-image(starred)
{
  list-style-image: url("flaggedmail.png");
}

treechildren::-moz-tree-image(unstarred)
{
  list-style-image: url("dot.png");
}

treechildren::-moz-tree-cell-text(unread)
{
  font-weight: bold;
}
