listitem.sent {
    background-color: #b0ffb0;
}

listitem.unanswered {
    background-color: #ffb0b0;
}

listitem.unimportant {
    background-color: #ffffb0;
}

#lb-add-person {
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
}

listcell.unread {
    font-weight: bold;
}