listitem {
    font-size: 14pt;
}

listcell image.sent {
    list-style-image: url("doesnt-need.png");
}

listcell image.unanswered {
    list-style-image: url("needs-reply.png");
}

/*listitem.unimportant {
    background-color: #ffffb0;
    font-size: 14pt;
}*/

#lb-add-person {
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
}

/* I cheated by copying flaggedmail.png and dot.png from thunderbird's
 * theme to my chrome/content directory... can put custom images here
 * later. */
treechildren::-moz-tree-image(needsReply)
{
  list-style-image: url("needs-reply.png");
}

treechildren::-moz-tree-image(doesntNeed)
{
  list-style-image: url("doesnt-need.png");
}

treechildren::-moz-tree-cell-text(unread)
{
  font-weight: bold;
}

treechildren::-moz-tree-image(incoming)
{
  list-style-image: url("incoming.png");
}

treechildren::-moz-tree-image(outgoing)
{
  list-style-image: url("outgoing.png");
}
