treechildren::-moz-tree-cell-text(large)
{
    font-size: 14pt;
}

#lb-ppl-tree treechildren::-moz-tree-row {
    height: 30px;
}

#lb-add-person-label {
  vertical-align: middle;
}

#lb-add-person {
  list-style-image: url("chrome://messenger/skin/icons/search-favorite.png");
}

#lb-add-person-error {
    color: red;
}

treechildren::-moz-tree-image(needsReply)
{
  list-style-image: url("needs-reply.png");
}

treechildren::-moz-tree-image(doesntNeed)
{
  list-style-image: url("doesnt-need.png");
}

treechildren::-moz-tree-cell-text(unread)
{
  font-weight: bold;
}

treechildren::-moz-tree-image(incoming)
{
  list-style-image: url("incoming.png");
}

treechildren::-moz-tree-image(outgoing)
{
  list-style-image: url("outgoing.png");
}

treechildren::-moz-tree-image(draft)
{
  list-style-image: url("draft.png");
}

#lb-thread-title {
  font-size: large;
  text-align: center;
  font-weight: bold;
  margin: 1em;
}

#lb-thread-view {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}